In [10]:
import pandas as pd
m=pd.read_csv('music.csv')#for reading csv file
m

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [12]:
x=m.drop(columns=['genre'])
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [14]:
y=m['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# now starts the decision tree algorithm for learning and prediction

In [23]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x, y)
model.predict(([21,1],[22,0]))

array(['HipHop', 'Dance'], dtype=object)

# accuracy of model

In [3]:
import pandas as pd
from  sklearn.tree import DecisionTreeClassidfier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data=pd.read_csv('music.csv')
X=m.drop(columns=['genre'])
Y=m['genre']
X_train,X_test,Y_train,

ImportError: cannot import name 'DecisionTreeClassidfier' from 'sklearn.tree' (C:\Users\mayank\AppData\Roaming\Python\Python38\site-packages\sklearn\tree\__init__.py)